.navigating-bar{
    padding:25px 0;
    background-color: rgb(38, 80, 216);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    color: #fff;
}
.logo-bar{
    height: 120px;
    border: 1px solid rgb(83, 82, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.navigating-bar a{
    color: #fff;
    margin: 0 10px;
}
.navigating-bar a:hover{
    color: #fff;
}

.active-link{
    font-size: 20px;
    text-decoration-line: underline;
}

.navi{
    display: flex;
    align-items: center;
    justify-content: center;
}