@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
.App {
  font-family: "Roboto Slab", serif;
  background-color: rgba(53, 53, 53, 0.698);
  overflow: hidden;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}
body {
  box-sizing: border-box;
}

.container {
  width: 60%;
  margin: 0 auto;
}
.chat-btn {
  font-size: 35px;
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.chat-menu {
  height: 100%;
  width: 350px;
  transition: all 0.4s;
  overflow: hidden;
  /* transform: translateX(200px); */

  /* display: none; */

  background-color: #fff;
}

.app-flex {
  width: calc(100vw + 350px);
  height: 100vh;
  display: flex;
}

.center {
  margin: 0 auto;
}
.rendered-page {
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.center-text{
  text-align: center;
}

.margin-sm{
  margin: 15px 0;
}
