.search-bar{
    width: 70%;
    margin: 15px auto;
}
.chat-btn{
    font-size: 35px;
    position: fixed;
    bottom: 0;
    right: 10px;
}

.project-post{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    margin: 15px 0;
}

.project-post div{
    padding: 20px;
}
.post-img{
   background-size: cover;
   background-position: center;
}