.search-bar{
    width: 70%;
    margin: 15px auto;
}

.project-post{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    margin: 15px 0;
    width: 100%;
}

.project-post div{
    padding: 20px;
}
.post-img{
   background-size: cover;
   background-position: center;
}
.home-page{
    height: 800px;
    width: 100%;
    padding: 0 30px;
}