.root {
  flex-grow: 1;
}

.project-page{
  
  width: 100%;
  padding: 0 30px;
}

.title {
  text-align: center;
  margin-top: 40px;
}

.profileimage {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}

.projectimage {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 400px;
}
